/*google-map*/
      #map {
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
        height: 100%;
/* Optional: Makes the sample page fill the window. */
      }
      

/*element*/
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
/*.class*/
      .menu_btn{
        box-shadow:1px 1px 2px 2px #cccccc;
      }
/*#id*/
      #info {
        position: fixed;
        top:0%;
        right:1%;
        left:1%;
      }
      #menu {
        position: fixed;
        top:20%;
        right:2%;
        text-align: right;
      }
      #user_point{
        position: fixed;
        top:20%;
        left:2%;
        text-align: left;
      }
      #user_point p{
        text-shadow:1px 1px #DDDDDD;
      }
      